/* 
    * AssisProg 
    ? License: MIT License 
    ! anther: https://github.com/matinsoleymni
*/

@font-face {
    font-family: vazir;
    src: url(../font/Vazirmatn.woff2);
}

*
{
    font-family: vazir;
}